.header {
  @include s(padding-top, 14);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--white-color);
  z-index: 100;
  @include s(padding-bottom, 14);
  @media (max-width: $tab-sm) {
    @include s(padding-bottom, 16);
    @include s(padding-top, 16);
  }
  .header-inner {
    display: flex;
    flex-direction: column;
    @include s(gap, 12);

    .header-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .header-content {
        display: flex;
        align-items: center;
        .address {
          @include s(padding-left, 20);
          @include s(margin-right, 85);
          @include s(font-size, 14);
          font-weight: 500;
          line-height: 106%;
          position: relative;
          @media (max-width: $tab-sm) {
            @include s(margin-right, 28);
            @include s(font-size, 11);
            @include s(padding-left, 14);
          }
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            @include s(width, 8);
            @include s(height, 8);
            border-radius: 999px;
            background: var(--purple-color);
          }
        }
        .socials {
          display: flex;
          align-items: center;
          @include s(gap, 26);
          @include s(margin-right, 33);
          @media (max-width: $tab-sm) {
            display: none;
          }
          a {
            svg {
              @include s(width, 18);
              @include s(height, 18);
            }
          }
        }
        .btn {
          @include s(height, 40);
          @include s(font-size, 16);
          font-weight: 400;
          line-height: 115%;
          @media (max-width: $tab-sm) {
            display: none;
          }
        }
        .tel {
          @include s(font-size, 18);
          font-weight: 600;
          line-height: 106%;
          @include s(margin-right, 28);
          @media (max-width: $tab-sm) {
            display: none;
          }
        }
        .burger {
          @include s(width, 28);
          @include s(height, 16);
          position: relative;
          background: none;
          outline: none;
          border: none;
          cursor: pointer;
          display: none;
          @media (max-width: $tab-sm) {
            display: flex;
          }
          span {
            position: absolute;
            width: 100%;
            @include s(height, 2);
            background: var(--txt-color);
            border-radius: 999px;
            &:nth-child(1) {
              top: 0;
              left: 0;
            }
            &:nth-child(2) {
              top: 0;
              bottom: 0;
              left: 0;
              margin: auto;
            }
            &:nth-child(3) {
              left: 0;
              bottom: 0;
            }
          }
        }
      }
    }
    .header-bottom {
      display: flex;
      align-items: center;
      @include s(gap, 6);
      @media (max-width: $tab-sm) {
        display: none;
      }
      .btn {
        width: 100%;
        &:hover {
          background: var(--purple-color);
          color: var(--white-color);
        }
      }
    }
  }
}
