mixin situations()
    .situations
        .situations-inner.container 
            h3(data-anim='anim-obj')  
                span Типовые ситуации, 
                | с которыми работаю
            .situations-list(data-anim='anim-arr-obj')  
                .situations-item(data-anim='anim-item') 
                    img(src="./img/situations/1.png", alt="situation")
                    .content 
                        p.title Получение кредита <br>при плохой кредитной истории
                        .person 
                            img(src="./img/person3.jpg", alt="person")
                            p Даже с просрочками, долгами и отказами
                .situations-item(data-anim='anim-item') 
                    img(src="./img/situations/2.png", alt="situation")
                    .content 
                        p.title Рефинансирование нескольких кредитов <br>с лучшей ставкой
                        .person 
                            img(src="./img/person3.jpg", alt="person")
                            p Объединяю кредиты в один с меньшей ставкой
                .situations-item(data-anim='anim-item') 
                    img(src="./img/situations/3.png", alt="situation")
                    .content 
                        p.title Индивидуальный подбор ипотеки с лучшими условиями
                        .person 
                            img(src="./img/person3.jpg", alt="person")
                            p Учитываю ваш доход, тип недвижимости, требования банков и др.