mixin policy()
    .policy
        .policy-inner.container 
            .text 
                h1 Политика конфиденциальности
                p Настоящий документ «Политика конфиденциальности» (далее по тексту – «Политика») представляет собой правила использования /указать владельца сайта/ (далее – «мы» и/или «Администрация») данных интернет-пользователей (далее «вы» и/или «Пользователь»), собираемых с использованием сайта / указать URL сайта/ (далее – «Сайт»).
                h4 1. Обрабатываемые данные
                ol 
                    li Мы не осуществляем сбор ваших персональных данных с использованием Сайта.
                    li Все данные, собираемые на Сайте, предоставляются и принимаются в обезличенной форме (далее – «Обезличенные данные»).
                    li Обезличенные данные включают следующие сведения, которые не позволяют вас идентифицировать
                    li Администрация вправе устанавливать требования к составу Обезличенных данных Пользователя, которые собираются использованием Сайта
                    li Если определенная информация не помечена как обязательная, ее предоставление или раскрытие осуществляется Пользователем на свое усмотрение. Одновременно вы даете информированное согласие на доступ неограниченного круга лиц к таким данным. Указанные данные становится общедоступными с момента предоставления и/или раскрытия в иной форме.
                    li Администрация не осуществляет проверку достоверности предоставляемых данных и наличия у Пользователя необходимого согласия на их обработку в соответствии с настоящей Политикой, полагая, что Пользователь действует добросовестно, осмотрительно и прилагает все необходимые усилия к поддержанию такой информации в актуальном состоянии и получению всех необходимых согласий на ее использование.
                h4 1. Обрабатываемые данные
                ol 
                    li Мы не осуществляем сбор ваших персональных данных с использованием Сайта.
                    li Все данные, собираемые на Сайте, предоставляются и принимаются в обезличенной форме (далее – «Обезличенные данные»).
                    li Обезличенные данные включают следующие сведения, которые не позволяют вас идентифицировать
                    li Администрация вправе устанавливать требования к составу Обезличенных данных Пользователя, которые собираются использованием Сайта
                    li Если определенная информация не помечена как обязательная, ее предоставление или раскрытие осуществляется Пользователем на свое усмотрение. Одновременно вы даете информированное согласие на доступ неограниченного круга лиц к таким данным. Указанные данные становится общедоступными с момента предоставления и/или раскрытия в иной форме.
                    li Администрация не осуществляет проверку достоверности предоставляемых данных и наличия у Пользователя необходимого согласия на их обработку в соответствии с настоящей Политикой, полагая, что Пользователь действует добросовестно, осмотрительно и прилагает все необходимые усилия к поддержанию такой информации в актуальном состоянии и получению всех необходимых согласий на ее использование.
                h4 1. Обрабатываемые данные
                ol 
                    li Мы не осуществляем сбор ваших персональных данных с использованием Сайта.
                    li Все данные, собираемые на Сайте, предоставляются и принимаются в обезличенной форме (далее – «Обезличенные данные»).
                    li Обезличенные данные включают следующие сведения, которые не позволяют вас идентифицировать
                    li Администрация вправе устанавливать требования к составу Обезличенных данных Пользователя, которые собираются использованием Сайта
                    li Если определенная информация не помечена как обязательная, ее предоставление или раскрытие осуществляется Пользователем на свое усмотрение. Одновременно вы даете информированное согласие на доступ неограниченного круга лиц к таким данным. Указанные данные становится общедоступными с момента предоставления и/или раскрытия в иной форме.
                    li Администрация не осуществляет проверку достоверности предоставляемых данных и наличия у Пользователя необходимого согласия на их обработку в соответствии с настоящей Политикой, полагая, что Пользователь действует добросовестно, осмотрительно и прилагает все необходимые усилия к поддержанию такой информации в актуальном состоянии и получению всех необходимых согласий на ее использование.
                h4 1. Обрабатываемые данные
                ol 
                    li Мы не осуществляем сбор ваших персональных данных с использованием Сайта.
                    li Все данные, собираемые на Сайте, предоставляются и принимаются в обезличенной форме (далее – «Обезличенные данные»).
                    li Обезличенные данные включают следующие сведения, которые не позволяют вас идентифицировать
                    li Администрация вправе устанавливать требования к составу Обезличенных данных Пользователя, которые собираются использованием Сайта
                    li Если определенная информация не помечена как обязательная, ее предоставление или раскрытие осуществляется Пользователем на свое усмотрение. Одновременно вы даете информированное согласие на доступ неограниченного круга лиц к таким данным. Указанные данные становится общедоступными с момента предоставления и/или раскрытия в иной форме.
                    li Администрация не осуществляет проверку достоверности предоставляемых данных и наличия у Пользователя необходимого согласия на их обработку в соответствии с настоящей Политикой, полагая, что Пользователь действует добросовестно, осмотрительно и прилагает все необходимые усилия к поддержанию такой информации в актуальном состоянии и получению всех необходимых согласий на ее использование.
            .navigation-block 
                .sticky-block 
                    .nav-list 
                        button.link 
                            span 1.
                            | Обрабатываемые данные
                        button.link 
                            span 2.
                            | Общие положения
                        button.link 
                            span 3.
                            | Термины
                        button.link 
                            span 4.
                            | Передача данных
                        button.link 
                            span 5.
                            | Изменение Политики конфиденциальности