include ../mixins/head.pug
include ../components/header/header.pug
include ../components/footer/footer.pug
include ../components/logo/logo.pug
include ../components/hero/hero.pug
include ../components/problems/problems.pug
include ../components/situations/situations.pug
include ../components/why/why.pug
include ../components/about/about.pug
include ../components/reasons/reasons.pug
include ../components/steps/steps.pug
include ../components/stats/stats.pug
include ../components/consultation/consultation.pug
include ../components/history/history.pug
include ../components/quiz/quiz.pug