doctype html
html(lang='ru')
  include ./mixins.pug
  block head
  body
    block header
    main
      block content
    block footer
    block modals
    script(src="https://cdn.jsdelivr.net/npm/animejs@3.2.2/lib/anime.min.js") 
    script(src="js/app.min.js") 