mixin history()
    .history
        .history-inner.container 
            h3 Мои клиенты уже получили кредиты – <br>
                span вот их истории
            .history-swiper 
                .swiper-wrapper 
                    .swiper-slide 
                        .info-block
                            .image-wrapper 
                                img(src="./img/history/1.jpg", alt="history")
                            .info-main  
                                p.name Анастасия, <br>42 года
                                p.date 2025
                        .content-block 
                            p.title 
                                span Результат: 
                                | одобрено 1,8 млн ₽ под 13,2% годовых
                            p.subtitle Проблема
                            p.descr Банк отказал из-за высокой кредитной нагрузки – 3 действующих кредита.
                            p.subtitle Решение
                            p.descr Нашли банк, где учитывают дополнительные источники дохода, подали заявку с корректными документами.
                    .swiper-slide 
                        .info-block
                            .image-wrapper 
                                img(src="./img/history/2.jpg", alt="history")
                            .info-main  
                                p.name Ольга,<br>56 лет
                                p.date 2025
                        .content-block 
                            p.title 
                                span Результат: 
                                | одобрено 1,8 млн ₽ под 13,2% годовых
                            p.subtitle Проблема
                            p.descr Банк отказал из-за высокой кредитной нагрузки – 3 действующих кредита.
                            p.subtitle Решение
                            p.descr Нашли банк, где учитывают дополнительные источники дохода, подали заявку с корректными документами.
                    .swiper-slide 
                        .info-block
                            .image-wrapper 
                                img(src="./img/history/1.jpg", alt="history")
                            .info-main  
                                p.name Анастасия, <br>42 года
                                p.date 2025
                        .content-block 
                            p.title 
                                span Результат: 
                                | одобрено 1,8 млн ₽ под 13,2% годовых
                            p.subtitle Проблема
                            p.descr Банк отказал из-за высокой кредитной нагрузки – 3 действующих кредита.
                            p.subtitle Решение
                            p.descr Нашли банк, где учитывают дополнительные источники дохода, подали заявку с корректными документами.
                    .swiper-slide 
                        .info-block
                            .image-wrapper 
                                img(src="./img/history/2.jpg", alt="history")
                            .info-main  
                                p.name Ольга,<br>56 лет
                                p.date 2025
                        .content-block 
                            p.title 
                                span Результат: 
                                | одобрено 1,8 млн ₽ под 13,2% годовых
                            p.subtitle Проблема
                            p.descr Банк отказал из-за высокой кредитной нагрузки – 3 действующих кредита.
                            p.subtitle Решение
                            p.descr Нашли банк, где учитывают дополнительные источники дохода, подали заявку с корректными документами.