mixin fixed-menu()
    .fixed-menu 
        a(href="#" target='_blank').tg
            <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.3278 0.156816C16.6076 0.357055 8.474 2.71031 1.85129 4.61288C1.32413 4.77985 0.943271 5.2069 0.868539 5.67628C0.793807 6.14566 1.1051 6.54849 1.52433 6.66642C1.88234 6.77589 5.47173 7.81189 5.47173 7.81189L5.57839 13.8231L9.29036 11.6364L6.36106 7.33522L13.6574 4.72727L7.52116 8.69492L9.29036 11.3381C9.39412 11.4724 11.5597 14.7701 11.7153 14.9715C11.9748 15.3072 12.3711 15.9616 12.616 15.9955C13.0446 16.0547 13.5666 15.5273 13.8904 14.6726C14.2048 13.8766 16.3355 8.35464 19.0711 0.997515C19.3856 0.201496 18.6457 -0.260595 17.3278 0.156816Z" fill="white"/>
            </svg>
        a(href="#" target='_blank').wa
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9 0.5C4.3018 0.5 0.5 4.29969 0.5 9C0.5 10.7726 1.04057 12.4123 2.00078 13.8211C2.03652 13.8741 2.05986 13.9344 2.06906 13.9976C2.07825 14.0609 2.07308 14.1254 2.05391 14.1863L1.19063 17.075L4.01953 16.0988C4.08 16.0787 4.14422 16.0724 4.20745 16.0805C4.27067 16.0885 4.33127 16.1107 4.38477 16.1453C5.70982 17.0051 7.29608 17.5 9 17.5C13.7004 17.5 17.5 13.7004 17.5 9C17.5 4.29956 13.7004 0.5 9 0.5ZM5.52031 4.20547L7.06758 6.76212L6.42344 7.39962C6.35786 7.46579 6.31584 7.55167 6.30384 7.64405C6.29184 7.73644 6.31053 7.83021 6.35703 7.91094C7.34002 9.6132 8.5047 10.9375 10.1355 11.6562C10.2137 11.691 10.3005 11.7013 10.3846 11.6859C10.4687 11.6705 10.5462 11.6301 10.607 11.5699L11.291 10.8859L13.7879 12.4465C13.5114 13.0687 13.151 13.4392 12.7387 13.6551C12.2611 13.9051 11.6778 13.9525 11.0121 13.8145C9.68077 13.5384 8.07262 12.4921 6.76211 11.1516C5.4516 9.81109 4.43744 8.18109 4.17891 6.85507C4.04964 6.19207 4.10675 5.62108 4.35156 5.16837C4.56236 4.77858 4.92042 4.44487 5.52031 4.20547Z" fill="white"/>
            </svg>
        a(href="tel:8 800 000-00-00").btn.primary
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.53266 12.6822C9.20054 16.3501 12.0196 17.2708 15.3424 13.948C15.8624 13.414 16.3488 12.7393 15.6587 12.0494L12.969 9.99255C12.1201 9.53585 11.7886 9.86066 11.3868 10.3089C9.91844 11.948 8.33425 11.404 7.27333 10.3089L5.69113 8.72672C4.59608 7.66568 4.05212 6.08131 5.69113 4.61318C6.13956 4.21142 6.46421 3.87978 6.0075 3.03098L3.95067 0.341257C3.26062 -0.348795 2.58592 0.13757 2.05194 0.657634C-1.27068 3.98027 -0.350124 6.79937 3.31776 10.4674L5.53266 12.6822Z" fill="white"/>
            </svg>
            | Позвонить
        button.btn.primary.dot(data-modal-target='order-modal') Заявка