mixin order-modal()
    .order-modal.modal 
        .modal-content-wrapper
            .close-modal-wrapper
                button.btn.close-modal 
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.9996 1L1 13M1.00038 1L13 13" stroke="#393939" stroke-width="2" stroke-linecap="round"/>
                    </svg>
            form.modal-content 
                p.title Оставить заявку
                .inputs 
                    .input__row
                        input(type="text" placeholder="Представьтесь").custom-input.input.form__input-value.input__valid-name
                        .input__item-small
                    .input__row
                        input(type="tel" placeholder="+7 (").custom-input.input.form__input-value.input__valid-phone
                        .input__item-small 
                button.btn.primary.dot.next-step(type='submit') Отправить заявку
                p.policy Нажимая кнопку, я соглашаюсь <br> с 
                    a(href="#" target="_blank") Политикой конфиденциальности