.btn {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  transition: var(--trs-cubic-300);
  &.primary {
    background: var(--txt-color);
    @include borr(12);
    color: var(--white-color);
    @include s(height, 56);
    @include s(font-size, 20);
    font-weight: 500;
    line-height: 115%;
    &:disabled {
      background: var(--back-color);
      pointer-events: none;
      color: var(--gray-light-color);
    }
    &:hover {
      background: var(--purple-color);
    }
    &.dot {
      position: relative;
      @include padding(0, 35, 0, 60);
      &::before {
        content: "";
        position: absolute;
        background: var(--white-color);
        border-radius: 999px;
        @include s(width, 8);
        @include s(height, 8);
        @include s(left, 35);
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
  &.secondary {
    background: var(--back-color);
    @include borr(12);
    height: 40px;
    @include s(font-size, 16);
    font-weight: 500;
    line-height: 106%;
  }
  &.circle {
    @include s(height, 56);
    @include s(width, 56);
    @include borr(16);
    background: var(--txt-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0) inset;
    svg {
      @include s(height, 16);
      @include s(width, 16);
    }
    &:hover {
      background: var(--purple-color);
      box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.21) inset;
    }
  }
}
