mixin stats()
    .stats
        .stats-inner.container
            h3 Минимум вашего времени – максимум результата.
            .list 
                .stats-item 
                    img(src="./img/stats/1.svg", alt="stats")
                    p.title 1 день
                    p.descr От подачи заявки до получения денег
                .stats-item 
                    img(src="./img/stats/2.svg", alt="stats")
                    p.title >5 000 чел.
                    p.descr Получили кредит с моей помощью
                .stats-item 
                    img(src="./img/stats/3.svg", alt="stats")
                    p.title >15 млрд ₽
                    p.descr Cумма одобренных кредитов