.certificates {
  overflow: hidden;
  @include s(padding-top, 96);
  @media (max-width: $tab-sm) {
    @include s(padding-top, 64);
  }
  .certificates-inner {
    display: grid;
    @include gtc(1fr, 408);
    @include s(gap, 48);
    @media (max-width: $tab-sm) {
      // grid-template-columns: 1fr;
      @include s(gap, 20);
      display: flex;
      flex-direction: column;
    }
    .certificates-swiper {
      position: relative;
      @include s(height, 480);
      overflow: hidden;
      @include borr(20);
      @media (max-width: $tab-sm) {
        order: 1;
        overflow: visible;
        height: auto;
      }
      .swiper-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @media (max-width: $tab-sm) {
          @include s(height, 180);
          position: relative;
        }
        .swiper-slide {
          @media (max-width: $tab-sm) {
            @include s(height, 180);
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .navigation {
        position: absolute;
        margin: auto;
        z-index: 2;
        @include s(bottom, 28);
        @include s(right, 28);
        @include s(gap, 4);
        @media (max-width: $tab-sm) {
          position: relative;
          left: 0;
          right: 0;
          @include s(margin-top, 20);
          bottom: 0;
        }
      }
      .pagination {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        @include s(bottom, 16);
        display: flex;
        align-items: center;
        justify-content: center;
        top: auto;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: $tab-sm) {
        order: 0;
      }
      h3 {
        font-weight: 500;
        @include s(font-size, 56);
        @include s(letter-spacing, -1);
        line-height: 96%;
        @media (max-width: $tab-sm) {
          @include s(font-size, 28);
          line-height: 106%;
        }
      }
      .alert {
        background: var(--back-purple-color);
        @include borr(20);
        @include padding(36);
        @media (max-width: $tab-sm) {
          @include padding(20);
          @include s(margin-top, 20);
          display: flex;
          @include s(gap, 16);
        }
        .image-wrapper {
          @include s(width, 56);
          @include s(height, 56);
          @include borr(12);
          overflow: hidden;
          @media (max-width: $tab-sm) {
            @include s(width, 48);
            @include s(height, 48);
            @include s(min-width, 48);
            @include s(max-width, 48);
            @include s(min-height, 48);
            @include s(max-height, 48);
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .descr {
          @include s(margin-top, 16);
          font-weight: 500;
          @include s(font-size, 20);
          line-height: 128%;
          @media (max-width: $tab-sm) {
            margin-top: 0;
            @include s(font-size, 16);
          }
        }
      }
    }
  }
}
