mixin why()
    .why
        .why-inner.container 
            h3 Почему 
                span кредитный брокер – это <br> выгоднее, 
                | чем самому идти в банк?
            .why-list-wrapper
                .alert-list
                    .why-alert 
                        .circles 
                        .text 
                            p.title Самостоятельно в банк
                            .percent 
                                span одобрения
                                p 10% 
                    .why-alert 
                        .circles 
                        .text 
                            p.title С кредитным брокером
                            .percent 
                                span одобрения
                                p 99,9% 
                .list 
                    .row 
                        p.title Одобрение
                        p.why-item.remove Вы не знаете, какие банки лояльны в вашей ситуации.
                        p.why-item.check Работаю с более чем 30 банками — знаю, где вашу заявку точно одобрят.
                    .row 
                        p.title Временные <br>затраты
                        p.why-item.remove Тратите время на подачу заявок, сбор документов и ожидание решений.
                        p.why-item.check Экономлю ваше время, подготовлю заявления, помогу собрать полный пакет документов.
                    .row 
                        p.title Условия
                        p.why-item.remove Переплачиваете из-за стандартных условий и дополнительных комиссий.
                        p.why-item.check Мои клиенты получают кредиты на льготных условиях с пониженной ставкой. 
                    .row 
                        p.title Заявки
                        p.why-item.remove Отправляете заявки в разные банки, тем самым портите кредитную историю.
                        p.why-item.check Подаю заявки только в подходящие банки, предварительно обсудив все условия с их представителями 
                    .row 
                        p.title Риски
                        p.why-item.remove Рискуете получить отказ без объяснения причин
                        p.why-item.check Знаю все нюансы – готовлю документы так, чтобы гарантировать одобрение кредита
                    .row 
                        p.title Сроки
                        p.why-item.remove Ожидаете рассмотрения заявки до 3 дней
                        p.why-item.check Получаю одобрение кредита за 3 часа