mixin footer()
    footer.footer
        .footer-inner.container  
            .footer-top
                .col 
                    p.title 
                        span Я помогу 
                        | вам получить кредит
                    img(src="./img/person.jpg", alt="person").person
                    ul 
                        li Разберу вашу ситуацию
                        li Отвечу на интересующие вопросы
                        li Предложу конкретные решения <br>для достижения результата
                .col 
                    .content
                        p.col-title Свяжитесь со мной
                        a(href="tel:+7 (495) 123-45-67").tel +7 (495) 123-45-67
                        .socials 
                            a(href="#" target="_blank")
                                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="48" height="48" rx="24" fill="#40B0FA"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M32.2155 15.183C31.3753 15.4166 21.886 18.162 14.1595 20.3817C13.5445 20.5765 13.1002 21.0747 13.013 21.6223C12.9258 22.1699 13.289 22.6399 13.7781 22.7775C14.1957 22.9052 18.3834 24.1139 18.3834 24.1139L18.5078 31.1269L22.8384 28.5758L19.4209 23.5578L27.9333 20.5152L20.7744 25.1441L22.8384 28.2278C22.9595 28.3845 25.486 32.2317 25.6676 32.4667C25.9702 32.8584 26.4327 33.6219 26.7184 33.6614C27.2184 33.7305 27.8274 33.1152 28.2051 32.118C28.572 31.1893 31.0577 24.7471 34.2493 16.1638C34.6162 15.2351 33.753 14.696 32.2155 15.183Z" fill="white"/>
                                </svg>
                                | Telegram-канал
                            a(href="#" target="_blank")
                                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="48" height="48" rx="24" fill="#6BD16B"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M24 14C18.4727 14 14 18.4702 14 24C14 26.0854 14.636 28.0144 15.7656 29.6719C15.8077 29.7342 15.8351 29.8052 15.8459 29.8796C15.8568 29.954 15.8507 30.0299 15.8281 30.1016L14.8125 33.5L18.1406 32.3516C18.2118 32.3279 18.2873 32.3205 18.3617 32.33C18.4361 32.3394 18.5074 32.3655 18.5703 32.4062C20.1292 33.4177 21.9954 34 24 34C29.5299 34 34 29.5299 34 24C34 18.4701 29.5299 14 24 14ZM19.9062 18.3594L21.7266 21.3672L20.9688 22.1172C20.8916 22.195 20.8422 22.2961 20.828 22.4048C20.8139 22.5135 20.8359 22.6238 20.8906 22.7188C22.0471 24.7214 23.4173 26.2794 25.3359 27.125C25.4279 27.1658 25.53 27.178 25.629 27.1599C25.7279 27.1418 25.8191 27.0942 25.8906 27.0235L26.6953 26.2188L29.6328 28.0547C29.3075 28.7868 28.8835 29.2226 28.3984 29.4766C27.8366 29.7708 27.1503 29.8265 26.3672 29.6641C24.8009 29.3393 22.909 28.1083 21.3672 26.5312C19.8254 24.9542 18.6323 23.0366 18.3281 21.4765C18.176 20.6965 18.2432 20.0248 18.5312 19.4922C18.7792 19.0336 19.2005 18.641 19.9062 18.3594Z" fill="white"/>
                                </svg>
                                | Whatsapp
                    button.btn.primary.dot Оставить заявку
                .col 
                    .content
                        p.col-title Адрес офиса
                        p.address Москва, Рязанский пр-кт, 10c18, офис 813
                        a(href="#" target="_blank").to-map
                            img(src="./img/icons/yandex.svg", alt="yandex") 
                            | Открыть Яндекс. карту
                    .info
                        .row 
                            .imgs 
                                img(src="./img/icons/clock.svg", alt="clock")
                                img(src="./img/icons/clock.svg", alt="clock")
                            p 9:00 — 21:00
                        .row 
                            .imgs 
                                .circle
                                .circle
                                .circle
                                .circle
                                .circle
                                .circle
                                .circle 
                            p ПН — СБ
            .footer-bottom
                .col
                    p © 2025. Кредитный брокер. Все права защищены
                    a(href="#" target="_blank") Политика конфиденциальности 
                .col
                    p ИП Зайкина Юлия
                    p Юр. адрес: Москва, Дербеневская наб., 7, стр. 2
                .col
                    p ИНН: 772159922969
                    p ОГРНИП: 320774600179510
                a(href="https://paradigma-digital.ru/" target="_blank").paradigma
                    img(src="./img/icons/paradigma.svg", alt="paradigma")
                    | Разработка сайта <br> Paradigma
