.footer {
  @include borr(40, 40, 0, 0);
  background-image: url("../img/footer/bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include padding(96, 0, 58);
  .footer-inner {
    .footer-top {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @include s(gap, 24);
      .col {
        @include borr(20);
        &:nth-child(2) {
          background: var(--white-color);
          @include padding(48);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .content {
            flex: 1;
          }
          .col-title {
            color: var(--gray-light-color);
            border-bottom: 1px solid var(--line-color);
          }
        }
        &:nth-child(3) {
          background: var(--purple-color);
          @include padding(48);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .content {
            flex: 1;
          }
          .col-title {
            color: var(--purple-light-color);
            border-bottom: 1px solid var(--purple-light-color);
          }
        }
        .tel {
          font-weight: 500;
          @include s(font-size, 32);
          line-height: 128%;
        }
        .to-map {
          color: var(--white-color);
          font-weight: 500;
          @include s(font-size, 20);
          line-height: 128%;
          display: flex;
          align-items: center;
          @include s(gap, 20);
          @include s(margin-top, 24);
          img {
            @include s(width, 48);
            @include s(height, 48);
          }
        }
        .address {
          color: var(--white-color);
          font-weight: 500;
          @include s(font-size, 32);
          line-height: 128%;
        }
        .info {
          display: flex;
          flex-direction: column;
          @include s(gap, 4);
          .row {
            display: flex;
            justify-content: space-between;
            .imgs {
              display: flex;
              align-items: center;
              @include s(gap, 4);
              img {
                @include s(width, 20);
                @include s(height, 20);
              }
              .circle {
                @include s(width, 20);
                @include s(height, 20);
                border-radius: 999px;
                background: var(--white-color);
                &:last-child {
                  background: var(--purple-light-color);
                }
              }
            }
            p {
              color: var(--white-color);
              font-weight: 500;
              @include s(font-size, 20);
              line-height: 128%;
            }
          }
        }
        .col-title {
          @include s(padding-bottom, 24);
          font-weight: 500;
          @include s(font-size, 20);
          line-height: 128%;
          @include s(margin-bottom, 36);
        }
        .socials {
          display: flex;
          flex-direction: column;
          @include s(gap, 6);
          @include s(margin-top, 24);

          a {
            display: flex;
            align-items: center;
            @include s(gap, 20);
            font-weight: 500;
            @include s(font-size, 20);
            line-height: 128%;
            img {
              @include s(width, 48);
              @include s(height, 48);
            }
          }
        }
        .btn {
          margin-bottom: auto;
          @include s(height, 56);
          font-weight: 500;
          @include s(font-size, 20);
          line-height: 128%;
          &:before {
            @include s(left, 76);
          }
        }
        .title {
          font-weight: 500;
          @include s(font-size, 56);
          @include s(letter-spacing, -1);
          line-height: 96%;
          color: var(--white-color);
          span {
            color: var(--purple-color);
          }
        }
        .person {
          @include s(width, 96);
          @include s(height, 96);
          @include s(margin-top, 70);
          border-radius: 999px;
          object-fit: cover;
          object-position: top;
        }
        ul {
          @include s(margin-top, 20);
          list-style: none;
          display: flex;
          flex-direction: column;
          @include s(gap, 12);
          li {
            @include s(padding-left, 48);
            position: relative;
            color: var(--white-color);
            font-weight: 500;
            @include s(font-size, 20);
            line-height: 128%;
            &:before {
              content: "";
              background-image: url("../img/icons/check-circle.svg");
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
              @include s(width, 28);
              @include s(height, 28);
              position: absolute;
              left: 0;
              top: 0;
            }
          }
        }
      }
    }
    .footer-bottom {
      display: grid;
      @include gtc(432, 432, 202, 202);
      @include s(gap, 24);
      @include s(margin-top, 96);

      .col {
        display: flex;
        flex-direction: column;
        @include s(gap, 6);
        a,
        p {
          font-weight: 500;
          @include s(font-size, 14);
          line-height: 115%;
          color: rgba(255, 255, 255, 0.4);
        }
      }
      .paradigma {
        display: flex;
        @include s(gap, 12);
        font-weight: 500;
        @include s(font-size, 14);
        line-height: 115%;
        color: rgba(255, 255, 255, 0.4);
        img {
          @include s(width, 32);
          @include s(height, 32);
        }
      }
    }
  }
}
