.hero {
  @include s(margin-top, 140);
  @media (max-width: $tab-sm) {
    @include s(margin-top, 56);
  }
  .hero-inner {
    display: grid;
    @include gtc(564, 1fr);
    @include s(gap, 80);
    @media (max-width: $tab-sm) {
      grid-template-columns: 1fr;
      @include s(gap, 28);
    }
    .image-block {
      @include borr(20);
      overflow: hidden;
      @include s(height, 536);
      position: relative;
      transition: var(--trs-cubic-600);
      &::before {
        content: "";
        background: var(--white-color);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transition: var(--trs-cubic-600);
      }
      &.anim {
        &:before {
          transform: translateY(100%);
        }
      }
      @media (max-width: $tab-sm) {
        @include s(height, 200);
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
    .text-block {
      h1 {
        font-weight: 500;
        @include s(font-size, 64);
        @include s(letter-spacing, -1);
        line-height: 106%;
        transform: translateY(-50%);
        opacity: 0;
        &.anim {
          opacity: 1;
          transform: translateY(0);
        }
        @media (max-width: $tab-sm) {
          @include s(font-size, 36);
        }
        span {
          color: var(--purple-color);
        }
      }
      .row {
        @include s(margin-top, 28);
        display: grid;
        @include gtc(214, 1fr);
        @include s(gap, 47);
        @media (max-width: $tab-sm) {
          grid-template-columns: 1fr;
          @include s(gap, 0);
          @include s(margin-top, 16);
        }
        .image-container {
          @include borr(20);
          //   overflow: hidden;
          @include s(height, 372);
          position: relative;
          @media (max-width: $tab-sm) {
            display: none;
          }

          .image-wrapper {
            position: relative;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              @include borr(20);
            }
            .home {
              position: absolute;
              bottom: 0;
              right: 0;
              @include s(width, 192);
              @include s(width, 200);
              transition: var(--trs-cubic-600);
              transform: translateY(70%);
            }
          }
          .coins {
            img {
              position: absolute;
              &:nth-child(1) {
                @include s(width, 86);
                @include s(height, 89);
                @include s(top, 37);
                @include s(left, 24);
                transform: translateX(70%) rotate(15deg);
                opacity: 0;
                transition: var(--trs-cubic-600);
              }
              &:nth-child(2) {
                @include s(width, 101);
                @include s(height, 54);
                @include s(top, 137);
                @include s(left, -50);
                transform: translateX(70%) rotate(45deg);
                opacity: 0;
                transition: var(--trs-cubic-600);
              }
              &:nth-child(3) {
                @include s(width, 76);
                @include s(height, 84);
                @include s(top, 68);
                @include s(left, -50);
                transform: translateX(70%) rotate(-45deg);
                opacity: 0;
                transition: var(--trs-cubic-600);
              }
            }
          }
          &.anim {
            .image-wrapper {
              .home {
                transform: translate(0);
              }
            }
            .coins {
              img {
                opacity: 1;
                transform: translateX(0) rotate(0);
                // animation: float 2s linear 0.6s infinite;
              }
            }
          }
        }

        .text {
          .subtitle {
            font-weight: 500;
            @include s(font-size, 28);
            line-height: 115%;
            color: var(--purple-color);
            transform: translateY(-50%);
            opacity: 0;
            &.anim {
              opacity: 1;
              transform: translateY(0);
            }
            @media (max-width: $tab-sm) {
              @include s(font-size, 20);
            }
          }
        }
        ul {
          @include s(margin-top, 20);
          list-style: none;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          @include s(gap, 12);
          @media (max-width: $tab-sm) {
            grid-template-columns: 1fr;
            @include s(gap, 6);
            @include s(margin-top, 10);
          }
          li {
            @include s(padding-left, 48);
            position: relative;
            font-weight: 500;
            @include s(font-size, 20);
            line-height: 128%;
            transform: translateY(-50%);
            opacity: 0;
            &.anim {
              opacity: 1;
              transform: translateY(0);
            }
            @media (max-width: $tab-sm) {
              @include s(font-size, 16);
              @include s(padding-left, 32);
            }
            &:before {
              content: "";
              background-image: url("../img/icons/check-circle.svg");
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
              @include s(width, 28);
              @include s(height, 28);
              position: absolute;
              left: 0;
              top: 0;
              @media (max-width: $tab-sm) {
                @include s(width, 20);
                @include s(height, 20);
              }
            }
          }
        }
        .btn {
          @include s(margin-top, 34);
          @media (max-width: $tab-sm) {
            @include s(margin-top, 24);
          }
        }
      }
    }
  }
}
