mixin hero()
    .hero
        .hero-inner.container
            .image-block 
                img(src="./img/person.jpg", alt="person")
            .text-block 
                h1 
                    span Кредитный брокер 
                    | Юлия Зайкина
                .row 
                    .image-wrapper 
                        img(src="./img/hero/img.jpg", alt="img")
                        .coins 
                            img(src="./img/hero/coin1.png", alt="coin")
                            img(src="./img/hero/coin2.png", alt="coin")
                            img(src="./img/hero/coin3.png", alt="coin")
                    .text 
                        p.subtitle Помогу получить кредит <br>под залог недвижимости, без предоплаты уже сегодня!
                        ul 
                            li Без подтверждения дохода
                            li С любой кредитной историей
                            li Получение одобрения за 3 часа
                            li Оплата услуг только после получения денег
                        button.btn.primary.dot Получить консультацию

