extends ./pug/templates/template.pug

block head 
  +head()
block header 
  +header()
block content
  +hero()
  +problems()
  +situations()
  +why()
  +about()
  +reasons()
  +steps()
  +stats()
  +consultation()
  +history()
  +quiz()
  +partners()
  +certificates()
  +faq()
block footer 
  +footer()
block modals 
  +order-modal()
  +success-modal()