extends ./pug/templates/template.pug

block head 
  +head()
block header 
  +header()
  +fixed-menu()
  +mobile-menu()
block content
  +policy()
block footer 
  +footer()
block modals 
  +order-modal()
  +success-modal()