mixin success-modal()
    .success-modal.modal 
        .modal-content-wrapper
            .close-modal-wrapper
                button.btn.close-modal 
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.9996 1L1 13M1.00038 1L13 13" stroke="#393939" stroke-width="2" stroke-linecap="round"/>
                    </svg>
            .modal-content 
                p.title Спасибо!
                .image-wrapper 
                    img(src="./img/person.jpg", alt="person")
                p.descr Я перезвоню вам в течение 15 минут