mixin faq()
    .faq
        .faq-inner.container 
            .content 
                h3(data-anim='anim-obj')  
                    span Отвечаю <br> 
                    | на популярные вопросы
                .image-container(data-anim='anim-obj')
                    .image-wrapper 
                        img(src="./img/faq/bg.png", alt="img")
                        img(src="./img/faq/home.png", alt="img").home
                        img(src="./img/faq/papers.png", alt="img").papers
                        img(src="./img/faq/clock.png", alt="img").clock
                    .coins 
                        img(src="./img/hero/coin1.png", alt="coin")
                        img(src="./img/hero/coin2.png", alt="coin")
                        img(src="./img/hero/coin3.png", alt="coin")
            .accordion(data-anim='anim-arr-obj')  
                .accordion-item(data-anim='anim-item') 
                    button(type='button').accordion-title 
                        p.title Дадут ли кредит, если у меня плохая кредитная история?
                        .icon 
                            <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 0.999999L9 8.46667L17 1" stroke="#393939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    .collapse.accordion-body
                        p Да, при наличии недвижимости, которую можно предоставить в залог. Работаю с любым состоянием кредитной истории — в том числе при просрочках и отказах в банках.
                .accordion-item(data-anim='anim-item')
                    button(type='button').accordion-title 
                        p.title Можно ли получить кредит, если квартира уже в залоге?
                        .icon 
                            <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 0.999999L9 8.46667L17 1" stroke="#393939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    .collapse.accordion-body
                        p Да, можно. Работаю с недвижимостью под обременением. В таких случаях можно увеличить сумму кредита и/или снизить ставку.

                .accordion-item(data-anim='anim-item')
                    button(type='button').accordion-title 
                        p.title Какие риски при кредите под залог недвижимости?
                        .icon 
                            <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 0.999999L9 8.46667L17 1" stroke="#393939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    .collapse.accordion-body
                        p Недвижимость остаётся в вашей собственности. Она защищена в рамках ФЗ-102 — вы сохраняете статус владельца.
                .accordion-item(data-anim='anim-item')
                    button(type='button').accordion-title 
                        p.title Сколько времени занимает рассмотрение заявки?
                        .icon 
                            <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 0.999999L9 8.46667L17 1" stroke="#393939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    .collapse.accordion-body
                        p От 3 часов до 1 рабочего дня — в зависимости от банка и ситуации.
                .accordion-item(data-anim='anim-item')
                    button(type='button').accordion-title 
                        p.title Можно ли продать недвижимость, если она в залоге?
                        .icon 
                            <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 0.999999L9 8.46667L17 1" stroke="#393939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    .collapse.accordion-body
                        p В большинстве случаев — да, с согласия банка. Если такая задача возникнет, помогу организовать продажу.
                .accordion-item(data-anim='anim-item')
                    button(type='button').accordion-title 
                        p.title Возможно ли досрочное погашение?
                        .icon 
                            <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 0.999999L9 8.46667L17 1" stroke="#393939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    .collapse.accordion-body
                        p Да, кредит можно погасить досрочно в любое время после получения.