mixin faq()
    .faq
        .faq-inner.container 
            .content 
                h3 
                    span Отвечаю <br> 
                    | на популярные вопросы
                .image-wrapper 
                    img(src="./img/faq/img.jpg", alt="faq")
            .accordion 
                .accordion-item 
                    button(type='button').accordion-title 
                        p.title С какими банками вы работаете?
                        .icon 
                            <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 0.999999L9 8.46667L17 1" stroke="#393939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    .collapse.accordion-body
                        p Работаю только с официальными банками, никакие «серые схемы» не использую. Подбираю оптимальный вариант под вашу ситуацию.
                .accordion-item
                    button(type='button').accordion-title 
                        p.title Какие документы нужны?
                        .icon 
                            <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 0.999999L9 8.46667L17 1" stroke="#393939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    .collapse.accordion-body
                        p Работаю только с официальными банками, никакие «серые схемы» не использую. Подбираю оптимальный вариант под вашу ситуацию.
                .accordion-item
                    button(type='button').accordion-title 
                        p.title Сколько времени занимает одобрение?
                        .icon 
                            <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 0.999999L9 8.46667L17 1" stroke="#393939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    .collapse.accordion-body
                        p Работаю только с официальными банками, никакие «серые схемы» не использую. Подбираю оптимальный вариант под вашу ситуацию.
                .accordion-item
                    button(type='button').accordion-title 
                        p.title Почему не подать заявку самому?
                        .icon 
                            <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 0.999999L9 8.46667L17 1" stroke="#393939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    .collapse.accordion-body
                        p Работаю только с официальными банками, никакие «серые схемы» не использую. Подбираю оптимальный вариант под вашу ситуацию.
                .accordion-item
                    button(type='button').accordion-title 
                        p.title Сколько стоят услуги кредитного брокера?
                        .icon 
                            <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 0.999999L9 8.46667L17 1" stroke="#393939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    .collapse.accordion-body
                        p Работаю только с официальными банками, никакие «серые схемы» не использую. Подбираю оптимальный вариант под вашу ситуацию.